

body {
  background-color: #99FF99;
}

p {
  font-size: 120%;
  color: gray;
}

button {
  margin-left: 50px;
  padding: 0 20px;
}

#playboard {
  background-image: url("../images/tree_frame.svg"), url("../images/grass.svg");
  background-position: left bottom, left bottom;
  background-repeat: no-repeat, no-repeat;
  height: 600px;
  border: 2px solid gray;
  border-radius: 5px;
}

.cube {
  height: 100px;
  padding: 0;
  opacity: 1;
}

.cube img {
  height: 90px;
}

.center-text {
  text-align: center;
  margin: 10px 0;
}
