

body {
  background-color: #66FF66;
}

#playboard {
  background-color: lightgray;
  height: 600px;
  border: 2px solid gray;
}

button {
  margin-left: 50px;
}

.cube {
  height: 100px;
  padding: 0;
  opacity: 1;
}

.cube img {
  height: 90px;
}

.center-text {
  text-align: center;
  margin: 10px 0;
}
